<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>
<form id="employeeForm">
    <pre>
    <label>First Name: </label>
    <input type="text" name="firstName">
    <label>Last Name: </label>
    <input name="lastName">
    <label>Email: </label>
    <input name="email">
    <input type="submit" value="Add Employee" id="submitForm">
    </pre>
</form>
</body>
</html>