<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add a book</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>
<div id="result">

</div>
<form id="employeeForm">
    <p>First Name: <input name="firstName="></p>
    <p>Last Name: <input name="lastName"></p>
    <p>Email: <input name="email"></p>
    <input type="submit" value="Add Employee" id="employeeBtn" />
    <!--    <button></button>-->
</form>

</body>
</html>