<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{css/main.css}" href="../css/main.css">
</head>

<body>
<div id="global">
    <H2>WELCOME</H2>
    <a href="?language=en" >English</a>  |  <a href="?language=nl_NL" >Nepali</a>  |   <a href="?language=zh_CN" >Chinese</a>

    <form action="employee_input" method="get">
        <input id="submit" type="submit"
               value="Add product">
    </form>

</div>
</body>
</html>